body {
  background: #000;
  color: #000;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

/* div {background: #4d0e00;} */

a {
  color: #000;
  text-decoration: none;
  float:left;
  padding:5px;
}

a:hover {
  text-decoration: underline overline;
}

h1 {
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 900;
  padding-top: 20px;
}

h2 {
  padding-top: 20px;
  text-align: center;
}
p {
  overflow: hidden;
  padding: 10px 0;
}

#hf {background-image: "../images/hf.png"; background-repeat: repeat-x; overflow:hidden;}

.container {
  background-color:  #7d0e00;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}

.container {
  background: #7d0e00;
}

@media only screen and (min-width: 768px) and (max-width: 995px) {
	.container {
		background:  #7d0e00;
	}
}
@media only screen and (max-width: 767px) {
	.container {
		background:  #7d0e00;
	}
}

@media only screen and (max-width: 479px) {
	.container.demo {
		background:  #7d0e00;
	}
}